<div ng-hide="controller.loaded">Loading ...</div>

<div ng-show="controller.loaded">
  <div class="col-md-4 col-sm-12">
    <div class="row">

      <table class="table">
        <tr>
          <th>#</th>
          <% %w(name real_name health armor shield actions).each do |key| %>
            <th><%= as_title(key) %></th>
          <% end %>
        </tr>
        <tr ng-repeat="hero in controller.data">
          <td><a href="#/heros/{{ hero.id }}">{{ hero.id }}</a></td>
          <% %w(name real_name health armor shield).each do |key| %>
            <td>{{ hero.<%= key %> }}</td>
          <% end %>
          <td class="btn-group">
            <a class="btn btn-default" href='<%=
              angular_path_to(edit_hero_safe_path(id: '{{ hero.id }}'))
            %>'>Edit</a>
            <a class="btn btn-default" ng-click="controller.delete(hero.id)">Delete</a>
          </td>
        </tr>
      <table>

      <div class="col-sm-12">
        <div class="row">
          <a class="btn btn-default" href='<%= angular_path_to(new_hero_path) %>'>New</a>
        </div>
      </div>

    </div>
  </div>
</div>
