<div ng-hide="controller.loaded">Loading ...</div>

<div ng-show="controller.loaded">
  <div class="col-md-2 col-sm-12">
    <div class="row">
      <div class="panel panel-default">

        <div class="panel-heading">{{ controller.data.name }}</div>
        <div class="panel-body">

          <dl>
            <dt>Id</dt> <dd>{{ controller.data.id }}</dd>
            <dt>Real Name</dt> <dd>{{ controller.data.real_name }}</dd>
            <dt>Health</dt> <dd>{{ controller.data.health }}</dd>
            <dt>Armor</dt> <dd>{{ controller.data.armor }}</dd>
            <dt>Shield</dt> <dd>{{ controller.data.shield }}</dd>
          </dl>
          <div class="col-sm-12">
            <div class="row">
              <a class="btn btn-default" href='<%= angular_path_to(heros_path) %>'>Return</a>
              <a class="btn btn-default float-right" href='<%= 
                angular_path_to(
                  edit_hero_safe_path(
                    id: '{{ controller.data.id }}'
                  )
                )
              %>'>Edit</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
