<!DOCTYPE html>
<html>
  <head>
    <title>Overwatch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app="overwatch">
    <div class="container-fluid" ng-view ng-controller="Global.Controller as gloc">
      <%= yield %>
    </div>
  </body>
</html>
